In [1]:
import camelot
import pandas as pd
import openpyxl
import os
import tkinter
# tables = camelot.read_pdf('epd1388_2021.pdf', pages='10',process_background=True)
# tables = camelot.read_pdf('./IBU-09-20/New/14632.pdf', pages='6', split_text=True,table_areas=["69.60548391889084,500.088593765987,525.3099336281931,403.96614296894364"])
# print(len(tables))

# tables = camelot.read_pdf('./New/14699.pdf', pages='all')
# print(len(tables))

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
files = os.listdir('./Files')
files = ['epd1203.pdf', '']
for file_name in files:
    try:
        tables = camelot.read_pdf('./Files/'+file_name, pages='all') # , process_background = True
        print(file_name)
        for table in tables:
            print("Text: ")
            camelot.plot(table, kind='text').show()
            print("Grid: ")
            camelot.plot(table, kind='grid').show()
            print("Line: ")
            camelot.plot(table, kind='line').show()
            print("Conture: ")
            camelot.plot(table, kind='contour').show()
            print("Join: ")
            camelot.plot(table, kind='joint').show()
    except:
        print("Doslo do greske prilikom citanja za " + str(file_name))

Doslo do greske prilikom citanja za epd1203.pdf
Doslo do greske prilikom citanja za

In [16]:
files = os.listdir('./Files')
#files = ['epd4044.pdf', 'epd4051.pdf', 'epd4054.pdf','epd4061.pdf']

r = []
for file in files:
    try:
        tables = camelot.read_pdf('./Files/' + file, pages='all')

        print("************ FILE NAME: " + file + " ****************")
        dataFrames = []
        file_info = {}
        stages = []
        for table in tables:
            df = table.df

            #dataFrames = []
            gwp = ['GWP-total', 'GWP-tot','Global \nuppvärmningspotential \n(GWP)', 'GWP - Total', 'Global warming potential', 'GWP', 'Globales Erwärmungspotenzial ­ total', 'Globales Erwärmungspotenzial']
            for g in gwp:
                if (g in df.values) and ('TRACI 2.1 Impact Assessment' not in df.values):
                    try:
                        #df = df.rename(columns=df.iloc[0])
                        dataFrames.append(df)
                    except:
                        dataFrames.append(df)

            pere = ['PERE', 'Renewable primary energy as energy carrier', 'Erneuerbare Primärenergie als Energieträger']
            for p in pere:
                if p in df.values:
                    try:
                        #df = df.rename(columns=df.iloc[0])
                        dataFrames.append(df)
                    except:
                        dataFrames.append(df)

            hwd = ['HWD', 'Hazardous waste disposed', 'Gefährlicher Abfall zur Deponie']
            for h in hwd:
                if h in df.values:
                    try:
                        #df = df.rename(columns=df.iloc[0])
                        dataFrames.append(df)
                    except:
                        dataFrames.append(df)


#         try:
#             rez = []
#             for list in df[df.eq('Unit').any(1)].values:
#                 rez = rez + list.tolist()
#             longest_list = []
#             help = [longest_list.append(x) for x in rez if x not in longest_list]

#             droped_nan = [e for e in longest_list if str(e) != 'nan']


#             unit_index = droped_nan.index('Unit') + 1
#             stages = droped_nan[unit_index:]
#             print(stages)
#         except:
#     #         a = list(df[df.eq('Einheit').any(1)].values[0])
#     #         unit_index = a.index('Einheit') + 1
#     #         stages = a[unit_index:]
#             stages = "NOT FOUND"





        #result = pd.concat(dataFrames)
    #     file_info["dataFrame"] = dataFrames        
    #     file_info["file_name"] = file
    #     file_info["stages"] = stages
        if dataFrames:
            file_info["dataFrame"] = pd.concat(dataFrames)        
            file_info["file_name"] = file
#             file_info["stages"] = stages

            r.append(file_info)
        else:
            try:
                tables = camelot.read_pdf('./Files/' + file, pages='all', process_background=True)
                dataFrames = []
                file_info = {}
                stages = []
                for table in tables:
                    df = table.df

                    #dataFrames = []
                    gwp = ['GWP-total', '' 'Global \nuppvärmningspotential \n(GWP)','GWP-tot', 'GWP - Total', 'Global warming potential', 'GWP', 'Globales Erwärmungspotenzial ­ total', 'Globales Erwärmungspotenzial']
                    for g in gwp:
                        if (g in df.values) and ('TRACI 2.1 Impact Assessment' not in df.values):
                            try:
                                df = df.rename(columns=df.iloc[0])
                                dataFrames.append(df)
                            except:
                                dataFrames.append(df)

                    pere = ['PERE', 'Renewable primary energy as energy carrier', 'Erneuerbare Primärenergie als Energieträger']
                    for p in pere:
                        if p in df.values:
                            try:
                                df = df.rename(columns=df.iloc[0])
                                dataFrames.append(df)
                            except:
                                dataFrames.append(df)

                    hwd = ['HWD', 'Hazardous waste disposed', 'Gefährlicher Abfall zur Deponie']
                    for h in hwd:
                        if h in df.values:
                            try:
                                df = df.rename(columns=df.iloc[0])
                                dataFrames.append(df)
                            except:
                                dataFrames.append(df)

                if dataFrames:
                    file_info["dataFrame"] = pd.concat(dataFrames)         
                    file_info["file_name"] = file
                else:
                    print("Noting to ADD!")
            except:
                print("Ne moze procitati")              
    except:
        print("Ne moze procitati")
    #write_to_excel(dataFrame, stages)

# make_excel_file(r)

# print(types)
# r

************ FILE NAME: epd1203.pdf ****************
************ FILE NAME: epd1729.pdf ****************
************ FILE NAME: epd1891.pdf ****************
Noting to ADD!
************ FILE NAME: epd2113.pdf ****************
************ FILE NAME: epd2119.pdf ****************
************ FILE NAME: epd2147.pdf ****************
Noting to ADD!
************ FILE NAME: epd2250.pdf ****************

UserWarning:   (524.5, 527.26888) does not lie in column range (468.1306378476421, 524.2943168077388) [utils.py:740]

Noting to ADD!
************ FILE NAME: epd2251.pdf ****************

UserWarning:   (524.5, 527.26888) does not lie in column range (468.1343870918985, 524.0543651753326) [utils.py:740]
UserWarning:   (541.9, 544.66888) does not lie in column range (485.4109046251512, 541.8107859733979) [utils.py:740]

Noting to ADD!
************ FILE NAME: epd2270.pdf ****************
************ FILE NAME: epd2283.pdf ****************
************ FILE NAME: epd2328.pdf ****************
Noting to ADD!
Ne moze procitati
************ FILE NAME: epd2837.pdf ****************

UserWarning:   (570.36, 572.862) does not lie in column range (69.46599758162031, 570.1250785973398) [utils.py:740]
UserWarning:   (524.26, 527.02888) does not lie in column range (527.2337243047159, 582.152654171705) [utils.py:740]
UserWarning:   (524.74, 526.9751200000001) does not lie in column range (527.2337243047159, 582.152654171705) [utils.py:740]

************ FILE NAME: epd351.pdf ****************
Ne moze procitati
************ FILE NAME: epd414.pdf ****************
Noting to ADD!
************ FILE NAME: epd442.pdf ****************
************ FILE NAME: epd454.pdf ****************
Noting to ADD!
************ FILE NAME: epd665.pdf ****************
Noting to ADD!
************ FILE NAME: epd666.pdf ****************
Noting to ADD!
************ FILE NAME: epd667.pdf ****************
Noting to ADD!
************ FILE NAME: epd992.pdf ****************
************ FILE NAME: epd993.pdf ****************
************ FILE NAME: epd994.pdf ****************

In [6]:

tables = camelot.read_pdf('./Files/epd1203.pdf', pages='all')
print(len(tables))

29

In [14]:
t = tables[6].df
t

,0,1,2,3,4,5,6
0,1 m3 White i.idro DRAIN,,,,,,
1,Environmental \nImpacts,Units,A1-A3,A4,A5,B1,B2-B7
2,GWP-tot,kg CO2 eq,4.13E2,4.98E0,1.99E1,-1.19E1,-
3,GWP-fos,kg CO2 eq,4.12E2,4.97E0,1.99E1,-1.19E1,-
4,GWP-bio,kg CO2 eq,1.47E-1,1.75E-3,8.99E-3,0.00,-
5,GWP-luc,kg CO2 eq,1.22E-1,1.89E-3,7.35E-3,0.00,-
6,ODP,kg CFC-11 eq,2.08E-5,9.03E-7,1.98E-6,0.00,-
7,POCP,Kg NMVOC eq.,1.25E0,1.48E-2,1.12E-1,0.00,-
8,AP,mol H+ eq.,1.69E-1,1.20E-3,8.84E-3,0.00,-
9,EP-fw,kg PO4\n3- eq.,5.50E-2,3.92E-4,2.88E-3,0.00,-
10,EP-fw*,kg P eq,3.98E-3,3.28E-5,7.59E-4,0.00,-
11,EP-mar,kg N eq.,3.38E0,2.96E-2,4.06E-1,0.00,-
12,EP-ter,mol N eq.,8.82E-1,1.16E-2,1.11E-1,0.00,-
13,ADPE,kg Sb eq,4.45E-4,1.48E-5,2.04E-5,0.00,-
14,ADPF,Mj eq,2.47E3,7.37E1,1.85E2,0.00,-
15,WDP,m3,3.60E3,5.20E-1,1.06E2,0.00,-

In [16]:
t[0][2]

'GWP-tot'

In [54]:

tables = camelot.read_pdf('./Files/epd665.pdf', pages='9', process_background=True )#process_background=True
print(len(tables))

ValueError: row_tol cannot be used with flavor='lattice'

In [50]:
t = tables[0].df
t

,0,1,2,3,4,5,6
0,USE OF \nUNIT\nRESOURCES,UPSTREAM\nCORE\nDOWNSTREAM\nPri,,ma,ry,,TOTAL
1,,,,,,,
2,,,,,,,
3,,,,,,,
4,,,,,,,
5,,Ingredients \nPackaging \nWheat \nproduction\n...,Flour \nDistribution\npac\nproduction\nend,kag\n of,i\nl,ng \nife,
6,"MJ, net calorific \nUse as energy carrier\nval...","2,34E-02\n2,37E-01\n1,38E-03\n0,00E+00\n1,38E-...","3,76E-01\n1,75E-03\n3,2",6E-\n0E+\n6E-,,05\n00\n05,"6,39E-01\n1,38E-01\n7,78E-01"
7,,,,,,,
8,,"2,34E-02\n3,75E-01\n1,38E-03","3,76E-01\n1,75E-03\n3,2",,,,
9,"MJ, net calorific \nUse as energy carrier\nval...","1,40E+00\n1,97E-01\n9,63E-01\n0,00E+00\n0,00E+...","4,20E-04\n1,22E+00\n1,6",3E-\n0E+\nE-,,04\n00\n04,"3,78E+00\n0,00E+00\n3,78E+00"
10,,,,,,,
11,,"1,40E+00\n1,97E-01\n9,63E-01","4,20E-04\n1,22E+00\n1,63",,,,
12,Secondary material\nkg,"0,00E+00\n0,00E+00\n0,00E+00\n0,00E+00\n0,00E+...",,E+,,00,"0,00E+00"
13,"MJ, net calorific \nRenewable secondary fuels\...","0,00E+00\n0,00E+00\n0,00E+00\n0,00E+00\n0,00E+...",,E+,,00,"0,00E+00"
14,"MJ, net calorific \nNon-renewable secondary fu...","0,00E+00\n0,00E+00\n0,00E+00\n0,00E+00\n0,00E+...",,E+,,00,"0,00E+00"
15,Net use of fresh water\nm3,"1,21E-02\n4,98E-04\n8,00E-05\n2,91E-03\n2,47E-...",,2E-,,07,"1,56E-02"

type(r)

In [11]:
type(r)

list

In [12]:
len(r)

3

In [6]:
for i in range(0,4):
    try:
        tables = camelot.read_pdf('./Files/epd2765.pdf', pages='all')
        print(len(tables))
    except:
        
    print(i)

0
1
2
3

In [18]:
len(r)

4

In [14]:
d = r[3]['dataFrame'][0]
d.head()

,GWP,"Fossil\n91,10\n11,29\n20,03\nBiogenic\n7,16\n0,03\n19,88\ng CO2eq\nLULUC\n0,23\n0,00\n0,00\nTotal\n98,49\n11,32\n39,91","122,42\n27,08\n0,23\n149,72\n0,40\n0,14\n0,50\n0,86\n2,21\n0,03"
0,GWP,"Fossil\n91,10\n11,29\n20,03\nBiogenic\n7,16\n0...","122,42\n27,08\n0,23\n149,72\n0,40\n0,14\n0,50\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,30\n0,08\n0,02\ng SO2eq\n3-\n0,11\n0,01\n0,0...",

In [20]:
for fr in r:
    display(fr['dataFrame'])

,0,1,2,3,4,5,6
0,1 m3 White i.idro DRAIN,,,,,,
1,Environmental \nImpacts,Units,A1-A3,A4,A5,B1,B2-B7
2,GWP-tot,kg CO2 eq,4.13E2,4.98E0,1.99E1,-1.19E1,-
3,GWP-fos,kg CO2 eq,4.12E2,4.97E0,1.99E1,-1.19E1,-
4,GWP-bio,kg CO2 eq,1.47E-1,1.75E-3,8.99E-3,0.00,-
...,...,...,...,...,...,...,...
0,1 m3 Grey i.idro DRAIN,,,,,,
1,Waste,Units,C1,C2,C3,C4,D
2,HWD,kg,0.00,0.00,0.00,0.00,0.00
3,NHWD,kg,0.00,0.00,0.00,0.00,0.00
4,RWD,kg,-,-,-,-,-

,0,1,2,3,4,5,6
0,PARAMETER,UNIT,Upstream,Core,TOTAL\nat gate,Downstream,TOTAL
1,Hazardous waste disposed,kg,"1,22*10-6","1,04*10-6","2,26*10-6","1,54*10-7","2,41*10-6"
2,Non-hazardous waste disposed,kg,"1,37*10-2","1,03*10-3","1,48*10-2","1,15*10-2","2,62*10-2"
3,Radioactive waste disposed,kg,"1,62*10-6","2,4*10-7","1,86*10-6","1,42*10-6","3,28*10-6"
0,PARAMETER,UNIT,Upstream,Core,TOTAL\nat gate,Downstream,TOTAL
1,Hazardous waste disposed,kg,"1,2*10-6","9,42*10-7","2,14*10-6","9,81*10-8","2,24*10-6"
2,Non-hazardous waste disposed,kg,"1,26*10-2","1,07*10-3","1,36*10-2","3,02*10-3","1,67*10-2"
3,Radioactive waste disposed,kg,"1,59*10-6","2,48*10-7","1,84*10-6","9,66*10-7","2,8*10-6"

,0,1,2,3,4,5,6,7,8,9,10
0,Parameter \nAbbreviation \nUnits,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Environmental impacts,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Climate change – GWP fossil,GWP-fossil,kg CO2 eq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Climate change – GWP biogenic,GWP-biogenic,kg CO2 eq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Climate change – GWP land transformation,GWP-luluc,kg CO2 eq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4,,,Unit,A1 - A3,A4,A5,C1,C2,C3,C4,D
5,,CFR,kg,0.00E+00,0.00E+00,0.00E+00,0.00E+00,0.00E+00,0.00E+00,0.00E+00,0.00E+00
6,,MFR,kg,2.51E-03,2.00E-04,6.23E-04,4.79E-05,1.34E-04,0.00E+00,1.73E-04,0.00E+00
7,,MER,kg,1.70E-04,0.00E+00,4.09E-05,2.13E-06,2.31E-06,0.00E+00,5.79E-07,0.00E+00
8,,EE,MJ,0.00E+00,0.00E+00,2.84E-02,0.00E+00,0.00E+00,0.00E+00,2.84E+00,0.00E+00

,0,1,2
0,GWP,"Fossil\n91,10\n11,29\n20,03\nBiogenic\n7,16\n0...","122,42\n27,08\n0,23\n149,72\n0,40\n0,14\n0,50\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,30\n0,08\n0,02\ng SO2eq\n3-\n0,11\n0,01\n0,0...",
0,GWP,"Fossil\n22,78\n2,82\n5,01\nBiogenic\n1,79\n0,0...","30,60\n6,77\n0,06\n37,43"
1,"AP\n0,08\n0,02\n0,01\ng SO2eq\n3-\nEP\n0,03\n0...",,"0,10\n0,03\n0,12\n0,21\n0,55\n0,01"
0,GWP,"Fossil\n141,52\n18,14\n32,66\nBiogenic\n7,71\n...","192,32\n48,18\n0,30\n240,80\n0,61\n0,23\n0,81\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,48\n0,10\n0,04\ng SO2eq\n3-\n0,18\n0,01\n0,0...",
0,GWP,"Fossil\n35,38\n4,53\n8,17\nBiogenic\n1,93\n0,0...","48,08\n12,05\n0,08\n60,20"
1,"AP\n0,12\n0,02\n0,01\ng SO2eq\n3-\nEP\n0,05\n0...",,"0,15\n0,06\n0,20\n0,32\n0,86\n0,01"
0,GWP,"Fossil\n196,41\n28,77\n44,81\nBiogenic\n10,84\...","269,99\n75,49\n0,44\n345,92\n1,01\n0,37\n1,28\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,70\n0,24\n0,07\ng SO2eq\n3-\n0,28\n0,03\n0,0...",
0,GWP,"Fossil\n49,10\n7,19\n11,20\nBiogenic\n2,71\n0,...","67,50\n18,87\n0,11\n86,48"
1,"AP\n0,17\n0,06\n0,02\ng SO2eq\n3-\nEP\n0,07\n0...",,"0,25\n0,09\n0,32\n0,49\n1,19\n0,02"
0,GWP,"Fossil\n235,20\n33,82\n50,11\nBiogenic\n16,08\...","319,13\n92,58\n0,57\n412,28\n1,20\n0,45\n1,52\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,84\n0,28\n0,07\ng SO2eq\n3-\n0,34\n0,03\n0,0...",
0,GWP,"Fossil\n58,80\n8,46\n12,53\nBiogenic\n4,02\n0,...","79,78\n23,15\n0,14\n103,07"
1,"AP\n0,21\n0,07\n0,02\ng SO2eq\n3-\nEP\n0,09\n0...",,"0,30\n0,11\n0,38\n0,59\n1,41\n0,02"
0,GWP,"Fossil\n161,23\n23,27\n36,01\nBiogenic\n7,61\n...","220,52\n57,20\n0,33\n278,05\n0,79\n0,29\n1,00\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,56\n0,19\n0,04\ng SO2eq\n3-\n0,22\n0,02\n0,0...",
0,GWP,"Fossil\n40,31\n5,82\n9,00\nBiogenic\n1,90\n0,0...","55,13\n14,30\n0,08\n69,51"
1,"AP\n0,14\n0,05\n0,01\ng SO2eq\n3-\nEP\n0,06\n0...",,"0,20\n0,07\n0,25\n0,34\n0,98\n0,01"
0,GWP,"Fossil\n261,29\n34,70\n60,70\nBiogenic\n35,28\...","356,69\n110,52\n0,90\n468,10\n1,32\n0,50\n1,62..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,94\n0,28\n0,11\ng SO2eq\n3-\n0,39\n0,03\n0,0...",
0,GWP,"Fossil\n65,32\n8,68\n15,17\nBiogenic\n8,82\n0,...","89,17\n27,63\n0,22\n117,03"
1,"AP\n0,23\n0,07\n0,03\ng SO2eq\n3-\nEP\n0,10\n0...",,"0,33\n0,13\n0,41\n0,60\n1,54\n0,02"
0,GWP,"Fossil\n131,13\n13,25\n41,45\nBiogenic\n12,27\...","185,83\n27,49\n0,86\n214,18\n0,77\n0,24\n0,75\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,48\n0,19\n0,10\ng SO2eq\n3-\n0,18\n0,04\n0,0...",
0,GWP,"Fossil\n32,78\n3,31\n10,36\nBiogenic\n3,07\n0,...","46,46\n6,87\n0,21\n53,55"
1,"AP\n0,12\n0,05\n0,03\ng SO2eq\n3-\nEP\n0,04\n0...",,"0,19\n0,06\n0,19\n0,10\n0,86\n0,01"
0,GWP,"Fossil\n182,50\n13,40\n55,19\nBiogenic\n9,14\n...","251,10\n31,28\n0,65\n283,02\n1,08\n0,34\n1,01\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,66\n0,29\n0,13\ng SO2eq\n3-\n0,25\n0,05\n0,0...",
0,GWP,"Fossil\n45,63\n3,35\n13,80\nBiogenic\n2,28\n0,...","62,77\n7,82\n0,16\n70,76"
1,"AP\n0,16\n0,07\n0,03\ng SO2eq\n3-\nEP\n0,06\n0...",,"0,27\n0,09\n0,25\n0,10\n1,14\n0,01"
0,GWP,"Fossil\n197,58\n16,71\n65,04\nBiogenic\n12,34\...","279,33\n41,79\n0,63\n321,75\n1,29\n0,43\n1,21\..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,69\n0,44\n0,16\ng SO2eq\n3-\n0,30\n0,07\n0,0...",
0,GWP,"Fossil\n49,40\n4,18\n16,26\nBiogenic\n3,08\n0,...","69,83\n10,45\n0,16\n80,44"
1,"AP\n0,17\n0,11\n0,04\ng SO2eq\n3-\nEP\n0,08\n0...",,"0,32\n0,11\n0,30\n0,11\n1,28\n0,01"
0,GWP,"Fossil\n54,67\n12,45\n20,91\nBiogenic\n5,33\n0...","88,03\n22,18\n0,18\n110,39\n0,36\n0,20\n0,41\n..."
1,AP\nEP\nPOFP\nADP – Elements\nADP – Fossil fue...,"0,20\n0,12\n0,05\ng SO2eq\n3-\n0,08\n0,09\n0,0...",
0,GWP,"Fossil\n13,67\n3,11\n5,23\nBiogenic\n1,33\n0,0...","22,01\n5,55\n0,04\n27,60"
1,"AP\n0,05\n0,03\n0,01\ng SO2eq\n3-\nEP\n0,02\n0...",,"0,09\n0,05\n0,10\n0,13\n0,38\n0,01"