In [8]:
import camelot
import pandas as pd
import openpyxl
# tables = camelot.read_pdf('epd1388_2021.pdf', pages='10',process_background=True)
# tables = camelot.read_pdf('./IBU-09-20/New/14632.pdf', pages='6', split_text=True,table_areas=["69.60548391889084,500.088593765987,525.3099336281931,403.96614296894364"])
# print(len(tables))

tables = camelot.read_pdf('./New/14699.pdf', pages='all')
print(len(tables))

11

In [10]:
tables[7].df

,0,1,2,3,4,5,6,7,8,9
0,Core Indicator,Unit,A1-A3,A4,A5,B6,C2,C3,C4,D
1,GWP-total,[kg CO2-Eq.],5.92E+0,1.72E-2,1.02E-1,4.13E+2,7.82E-4,2.20E-1,6.87E-5,-3.59E-1
2,GWP-fossil,[kg CO2-Eq.],5.93E+0,1.65E-2,2.54E-3,4.11E+2,7.47E-4,2.20E-1,6.83E-5,-3.59E-1
3,GWP-biogenic,[kg CO2-Eq.],-1.66E-2,7.26E-4,9.90E-2,8.16E-1,3.45E-5,5.13E-6,2.33E-7,3.05E-4
4,GWP-luluc,[kg CO2-Eq.],8.99E-3,3.90E-7,1.67E-6,5.78E-1,1.78E-8,1.25E-5,1.96E-7,-4.83E-4
5,ODP,[kg CFC11-Eq.],7.77E-10,1.73E-18,1.83E-17,6.20E-12,7.89E-20,1.11E-16,2.53E-19,-2.10E-15
6,AP,[mol H+-Eq.],3.33E-2,4.58E-5,2.84E-5,1.83E+0,7.48E-7,3.92E-5,4.90E-7,-4.34E-3
7,EP-freshwater,[kg P-Eq.],4.30E-5,3.54E-9,3.58E-9,7.83E-4,1.60E-10,1.77E-8,1.17E-10,-3.21E-7
8,EP-marine,[kg N-Eq.],5.84E-3,1.29E-5,1.03E-5,3.00E-1,2.38E-7,8.85E-6,1.26E-7,-3.39E-4
9,EP-terrestrial,[mol N-Eq.],6.22E-2,1.43E-4,1.28E-4,3.23E+0,2.64E-6,1.79E-4,1.38E-6,-3.65E-3
10,POCP,[kg NMVOC-Eq.],1.71E-2,3.63E-5,2.72E-5,8.67E-1,6.73E-7,2.45E-5,3.82E-7,-1.13E-3
11,ADPE,[kg Sb-Eq.],1.14E-2,2.32E-1,3.20E-2,6.19E+3,1.06E-2,1.02E-1,8.96E-4,-4.93E+0
12,ADPF,[MJ],7.27E+1,4.91E-10,2.89E-10,8.48E-5,2.24E-11,1.52E-9,6.13E-12,-1.95E-4
13,WDP,[m³ world-Eq \ndeprived],1.42E+0,3.22E-5,1.26E-2,8.74E+1,1.46E-6,2.25E-2,7.16E-6,-1.26E-1

In [11]:
df = tables[7].df

In [13]:
df[df[0].str.contains("(^GWP-total$)|(^GWP$)|(^Global warming potential)|(^Globales Erwärmungspotenzial ­ total)|(Globales Erwärmungspotenzial)")]

C:\Users\mirol\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,0,1,2,3,4,5,6,7,8,9
1,GWP-total,[kg CO2-Eq.],5.92E+0,1.72E-2,1.02E-1,4.13E+2,7.82E-4,2.20E-1,6.87E-5,-3.59E-1

In [90]:
tables = camelot.read_pdf('./New/15186.pdf', pages='all')

In [104]:
tables[13].df

                               0     1        2        3         4
0                      Parameter  Unit    A1-A3       C3         D
1       Hazardous waste disposed  [kg]  4.86E-2  3.28E-7  -1.89E-1
2   Non-hazardous waste disposed  [kg]  3.41E+2  5.01E+1   1.99E+1
3     Radioactive waste disposed  [kg]  2.31E+0  4.80E-3  -1.54E-1
4          Components for re-use  [kg]  0.00E+0  0.00E+0   0.00E+0
5        Materials for recycling  [kg]  0.00E+0  9.50E+2   0.00E+0
6  Materials for energy recovery  [kg]  0.00E+0  0.00E+0   0.00E+0
7     Exported electrical energy  [MJ]  0.00E+0  0.00E+0   0.00E+0
8        Exported thermal energy  [MJ]  0.00E+0  0.00E+0   0.00E+0

In [105]:
df = tables[13].df

In [113]:
df[0][8]

'Exported thermal energy'

In [32]:
'TRACI 2.1 Impact Assessment' not in tables[10].df.values

False

In [36]:
df = tables[5].df

In [37]:
df[df[0].str.contains("(^GWP-total$)|(^GWP$)|(^Global warming potential$)|(^Globales Erwärmungspotenzial ­ total$)|(^Globales Erwärmungspotenzial$)")]

C:\Users\mirol\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                              0             1     2
1  Globales Erwärmungspotenzial  [kg CO2-Äq.]  1,35

In [24]:
df[df[0].str.contains("ADPF")]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
7,ADPF,[MJ],,1.17E+2 2.88E+0 3.68E+0 0.00E+0 6.76E+0,,,,1.61E-1,,2.23E+0 2.84E+0 3.60E+0 -8.84E-1 0.00E+0 -1.06...,,,,,

In [86]:
tables = camelot.read_pdf('./New/14417.pdf', pages='all')

In [89]:
tables[7].df

,0,1,2,3
0,Parameter,Einheit,A1­A3,A4
1,Globales Erwärmungspotenzial,[kg CO2­Äq.],"2,09E+2","1,31E+1"
2,Abbaupotenzial der stratosphärischen Ozonschicht,[kg CFC11­Äq.],"6,06E­9","1,61E­11"
3,Versauerungspotenzial von Boden und Wasser,[kg SO2­Äq.],"3,09E­1","3,41E­2"
4,Eutrophierungspotenzial,[kg (PO4)3­­Äq.],"3,64E­2","9,58E­3"
5,Bildungspotenzial für troposphärisches Ozon,[kg Ethen­Äq.],"3,95E­2","­1,00E­2"
6,Potenzial für die Verknappung abiotischer Ress...,[kg Sb­Äq.],"4,59E­4","6,76E­7"
7,Potenzial für die Verknappung abiotischer Ress...,[MJ],"1,21E+3","1,78E+2"